#root {
  color:black;
  background-color: #413543;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
  column-gap: 1rem;
}

#search-wraper {
display: flex;
flex-direction: row;
gap: 10px;
padding: 30px;
align-items: center;
justify-content: left;

}

#search-input  {
  border:solid #413543 3px;
  border-radius: 8px;
  height: 25px;
  background-color: #FFEAEA;
  
}


.episode-card {
  display: flex;
  flex-direction: column;
  background-color: #FFEAEA;
  border: 1px solid ;
  border-radius: 5px;
  max-width: 300px;
  margin: 10px;
  padding: 15px;
}

.card-header{
border: 1px solid ;
border-radius: 3px;
justify-content: center;
padding: 7px;
}

.episode-img-conteiner {
  align-self: center;
}

.episode-summary {
  text-align: justify;
}

.footer {
  text-align: center;
  font-size: larger;
  color: black;
  background-color: #413543;
  padding: 20px;
}
